<div class="container">
  <form class="was-validated" [formGroup]="form" (ngSubmit)="Actualizar()">
    <div class="mb-3">
      <label  class="form-label">Documento</label>
      <input type="number"  readonly [(ngModel)]="cliente.documento"
      name="documento" class="form-control " formControlName="documento"
        placeholder="Documento" required>

    </div>
    <div class="mb-3">
      <label for="validationNombre" class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="cliente.nombre"
      name="nombre" class="form-control is-invalid" formControlName="nombre" id="validationNombre" placeholder="nombre" required>

    </div>

    <div class="mb-3">
      <label for="validationCorreo" class="form-label">Correo</label>
      <input type="email" [(ngModel)]="cliente.correo"
      name="correo"  class="form-control is-invalid"formControlName="correo"  id="validationCorreo" placeholder="Correo" required>

    </div>
    <div class="mb-3">
      <label for="validatiodireccion" class="form-label">Direccion</label>
      <input type="text"  [(ngModel)]="cliente.direccion"
      name="direccion" class="form-control is-invalid" formControlName="direccion" id="validatiodireccion" placeholder="Direccion" required>

    </div>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit" >Guardar</button>
    </div>
  </form>
</div>
